[submodule "Images.Shared"]
	path = Images.Shared
	url = https://DKorablin@github.com/DKorablin/Images.Shared
[submodule "WinForms.Shared"]
	path = WinForms.Shared
	url = https://DKorablin@github.com/DKorablin/WinForms.Shared.git
[submodule "Bll.Shared"]
	path = Bll.Shared
	url = https://DKorablin@github.com/DKorablin/Bll.Shared.git
